.content.text-center
  .row
    .block-ver-md
      h1.slide-up.tight!= title

    .block-md.draggy-parent

      .category.block-dk.fade-in.text-lg.droppy.droppy-top(
        data-correct=categories[0].correct
        class="droppy-#{categories[0].correct}"
      )
        != categories[0].text

      .draggy.starting-pos
        .btn.btn-solid.btn-block.selectable.text-ellipsis!= buttonText

      .category.block-dk.fade-in.text-lg.droppy.droppy-bottom(
        data-correct=categories[1].correct
        class="droppy-#{categories[1].correct}"
      )
        != categories[1].text
        

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done