.content.text-center
  .block-md
    h1.slide-up.delay-3.tight!= title

  .block-md.draggy-parent

    .category.slide-left.delay-4.text-lg.droppy.droppy-top(
      data-correct=categories[0].correct
      class="droppy-#{categories[0].correct}"
    )
      .droppy-child.block-dk.text-center
        .content-ver!= categories[0].text

    .draggy.fade-in.delay-6
      .btn.btn-solid.btn-block.selectable.draggy-btn(
        class=buttonClass
      )
        != buttonText


    .category.slide-right.delay-4.text-lg.droppy.droppy-bottom(
      data-correct=categories[1].correct
      class="droppy-#{categories[1].correct}"
    )
      .droppy-child.block-dk.text-center
        .content-ver!= categories[1].text
        

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done